/**
 * @package 	WordPress
 * @subpackage 	Dream City
 * @version		1.0.0
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Less Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor 950
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1440px) {
  #page.cmsmasters_boxed {
    width: 1240px;
  }
  #page.cmsmasters_boxed #header,
  #page.cmsmasters_boxed #footer {
    width: 1240px;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap {
    width: 1200px;
  }
  .bottom_bg:before,
  .header_bot .header_bot_outer:after,
  .header_mid .header_mid_outer:after {
    width: 1160px;
  }
  .bottom_bg:before {
    margin-left: -580px;
  }
}
@media only screen and (max-width: 1440px) {
  .cmsmasters_slider_post .cmsmasters_slider_post_footer > div {
    display: block;
  }
  .cmsmasters_slider_post .cmsmasters_slider_post_footer > div + div {
    padding: 7px 0 0;
  }
  .mid_nav > li {
    margin: 0;
  }
  .mid_nav > li > a {
    padding: 6px 5px;
  }
}
@media only screen and (min-width: 1025px) {
  .fixed_header #header {
    position: fixed;
  }
  .header_top_outer,
  .header_top .top_nav_wrap nav {
    display: block !important;
  }
}
@media only screen and (max-width: 1024px) {
  .gallery.gallery-columns-9 .gallery-item,
  .gallery.gallery-columns-6 .gallery-item {
    width: 29.93%;
  }
  .gallery.gallery-columns-9 .gallery-item:nth-child(3n + 1),
  .gallery.gallery-columns-6 .gallery-item:nth-child(3n + 1) {
    clear: both;
  }
  .gallery.gallery-columns-8 .gallery-item {
    width: 21.6%;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(4n + 1) {
    clear: both;
  }
  .gallery.gallery-columns-7 .gallery-item,
  .gallery.gallery-columns-5 .gallery-item,
  .gallery.gallery-columns-4 .gallery-item {
    width: 46.6%;
  }
  .gallery.gallery-columns-7 .gallery-item:nth-child(2n + 1),
  .gallery.gallery-columns-5 .gallery-item:nth-child(2n + 1),
  .gallery.gallery-columns-4 .gallery-item:nth-child(2n + 1) {
    clear: both;
  }
  #page.cmsmasters_boxed {
    width: 100%;
  }
  #page.cmsmasters_boxed #header,
  #page.cmsmasters_boxed #footer {
    width: 100%;
  }
  #page.fixed_header #header {
    position: relative;
  }
  #page.fixed_header #middle,
  #page.fixed_header.enable_header_top #middle,
  #page.fixed_header.enable_header_bottom #middle,
  #page.fixed_header.enable_header_top.enable_header_bottom #middle {
    padding-top: 0;
  }
  #header {
    position: relative;
    overflow: hidden;
  }
  #header .header_mid_outer:after {
    width: 100%;
  }
  #header nav {
    height: auto;
  }
  #header nav div,
  #header nav ul,
  #header nav li,
  #header nav a,
  #header nav span {
    background-image: none !important;
    display: block;
    width: auto;
    height: auto;
    float: none;
    margin: 0;
    padding: 0;
    visibility: visible;
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-align: left;
    border-width: 0;
    border-style: solid;
    clear: both;
    overflow: hidden;
    -webkit-border-radius: 0;
    border-radius: 0;
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #header nav div:before,
  #header nav ul:before,
  #header nav li:before,
  #header nav a:before,
  #header nav div:after,
  #header nav ul:after,
  #header nav li:after,
  #header nav a:after {
    content: none;
  }
  #header nav .menu-item-mega-description-container {
    padding: 10px 15px;
  }
  #header nav li {
    border-top-width: 1px;
    border-top-style: solid;
  }
  #header nav > div > ul > li:first-child {
    border-top-width: 0;
    border-top-style: solid;
  }
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap {
    width: 100%;
  }
  .cmsmasters_column {
    margin-bottom: 20px;
  }
  .cmsmasters_row_columns_behavior .cmsmasters_column {
    margin-bottom: 0;
  }
  .cmsmasters_column.one_first,
  .cmsmasters_column:last-child {
    margin-bottom: 0;
  }
  .one_fifth,
  .one_fourth,
  .three_fourth {
    width: 46.6%;
  }
  .cmsmasters_row_no_margin .one_fifth,
  .cmsmasters_row_no_margin .one_fourth,
  .cmsmasters_row_no_margin .three_fourth {
    width: 50%;
  }
  .cmsmasters_14141414 > .cmsmasters_column:nth-child(2n + 1) {
    clear: left;
  }
  .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_141412 .cmsmasters_column.one_half {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_no_margin .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin .cmsmasters_141412 .cmsmasters_column.one_half {
    width: 100%;
  }
  .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 29.93%;
  }
  .cmsmasters_row_no_margin .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_row_no_margin .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 33.33%;
  }
  .sidebar_layout_14141414 aside {
    width: 46.6%;
  }
  .sidebar_layout_141412 > aside:first-child,
  .sidebar_layout_141412 > aside:first-child + aside,
  .sidebar_layout_141412 > div.cl + aside,
  .sidebar_layout_141412 > div.cl + aside + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside {
    width: 46.6%;
  }
  .sidebar_layout_141412 > aside:first-child + aside + aside,
  .sidebar_layout_141412 > div.cl + aside + aside + aside,
  .sidebar_layout_141412 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .sidebar_layout_141214 > aside:first-child,
  .sidebar_layout_141214 > aside:first-child + aside + aside,
  .sidebar_layout_141214 > div.cl + aside,
  .sidebar_layout_141214 > div.cl + aside + aside + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 29.93%;
  }
  .sidebar_layout_141214 > aside:first-child + aside,
  .sidebar_layout_141214 > div.cl + aside + aside,
  .sidebar_layout_141214 > div.cmsmasters_widget_divider + aside + aside {
    width: 29.93%;
  }
  .sidebar_layout_121414 > aside:first-child,
  .sidebar_layout_121414 > div.cl + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .sidebar_layout_121414 > aside:first-child + aside,
  .sidebar_layout_121414 > aside:first-child + aside + aside,
  .sidebar_layout_121414 > div.cl + aside + aside,
  .sidebar_layout_121414 > div.cl + aside + aside + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside,
  .sidebar_layout_121414 > div.cmsmasters_widget_divider + aside + aside + aside {
    width: 46.6%;
  }
  .sidebar_layout_3414 > aside:first-child,
  .sidebar_layout_3414 > div.cl + aside,
  .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside {
    width: 46.6%;
  }
  .sidebar_layout_3414 > aside:first-child + aside,
  .sidebar_layout_3414 > div.cl + aside + aside,
  .sidebar_layout_3414 > div.cmsmasters_widget_divider + aside + aside {
    width: 46.6%;
  }
  .sidebar_layout_1434 > aside:first-child,
  .sidebar_layout_1434 > div.cl + aside,
  .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside {
    width: 46.6%;
  }
  .sidebar_layout_1434 > aside:first-child + aside,
  .sidebar_layout_1434 > div.cl + aside + aside,
  .sidebar_layout_1434 > div.cmsmasters_widget_divider + aside + aside {
    width: 46.6%;
  }
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth {
    width: 50%;
  }
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_fourth {
    width: 46.6%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item {
    width: 50%;
  }
  .header_top {
    overflow: hidden;
    clear: both;
  }
  .header_top .header_top_but {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .header_top .header_top_outer {
    height: auto;
    display: none;
    overflow: hidden;
  }
  .header_top .header_top_inner {
    height: auto;
    padding: 0;
    overflow: hidden;
  }
  .header_top .header_top_inner:before {
    left: 0;
    right: 0;
  }
  .header_top .header_top_right {
    float: none;
  }
  .header_top .social_wrap .social_wrap_inner {
    padding: 10px 0;
    text-align: center;
  }
  .header_top .top_nav_wrap nav {
    padding: 10px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: none;
  }
  .header_top .responsive_top_nav {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .header_top .header_top_left {
    padding: 10px;
  }
  .header_top .header_top_left:after {
    content: none;
  }
  .header_top .meta_wrap {
    display: block;
    text-align: center;
  }
  #header .top_line_nav {
    padding: 0;
  }
  #header .top_line_nav .nav_item_wrap {
    padding: 8px 0;
    text-align: center;
  }
  #header .top_line_nav li li .nav_item_wrap {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #header .top_line_nav li li li .nav_item_wrap {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #header .top_line_nav li li li li .nav_item_wrap {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  #header .header_mid {
    overflow: hidden;
    clear: both;
  }
  #header .header_mid .header_mid_outer {
    border-bottom-width: 0;
    border-bottom-style: solid;
    overflow: hidden;
  }
  #header .header_mid .header_mid_inner {
    padding: 0 20px;
  }
  #header .header_mid .resp_mid_nav_wrap {
    display: block;
  }
  #header .header_mid .mid_nav_wrap {
    display: block;
    height: auto;
    float: none;
    margin: 0 -20px;
    visibility: visible;
    overflow: hidden;
    clear: both;
    opacity: 1;
  }
  #header .header_mid .mid_nav_wrap nav {
    display: none;
    border-top-width: 1px;
    border-top-style: solid;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap {
    float: none;
    width: auto;
    margin: 10px 0;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap > div {
    float: none;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap > div > div {
    text-align: center;
  }
  #header .header_mid .search_shop_wrap {
    margin: 10px 0;
    float: none;
    width: auto;
    display: block;
    text-align: center;
  }
  #header .header_mid .search_shop_wrap .mid_search_but_wrap {
    width: 100%;
    margin: 0;
    float: none;
    text-align: center;
  }
  #header .header_bot {
    overflow: hidden;
    clear: both;
  }
  #header .header_bot .header_bot_outer {
    border-bottom-width: 0;
    border-bottom-style: solid;
    overflow: hidden;
  }
  #header .header_bot .header_bot_inner {
    padding: 0;
  }
  #header .header_bot .resp_bot_nav_wrap {
    display: block;
  }
  #header .header_bot .resp_bot_nav_wrap .resp_bot_nav_outer {
    text-align: center;
  }
  #header .header_bot .bot_nav_wrap {
    display: block;
    height: auto;
    float: none;
    margin: 0;
    visibility: visible;
    overflow: hidden;
    clear: both;
    opacity: 1;
  }
  #header .header_bot .bot_nav_wrap nav {
    display: none;
  }
  #header .navigation {
    padding: 15px 0;
  }
  #header .navigation a {
    padding: 7px 15px 7px 30px;
  }
  #header .navigation a span:after {
    content: none;
  }
  #header .navigation li li > a {
    padding: 6px 25px 6px 50px;
  }
  #header .navigation li li li > a {
    padding-left: 70px;
    padding-right: 25px;
  }
  #header .navigation li li li li > a {
    padding-left: 90px;
    padding-right: 25px;
  }
  #header .navigation ul,
  #header .navigation .menu-item-mega-container {
    top: auto !important;
  }
  #header .navigation .nav_item_wrap {
    display: inline-block;
    vertical-align: middle;
  }
  #header .navigation .nav_title {
    display: inline-block;
    vertical-align: bottom;
  }
  #header .navigation .nav_tag {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    margin: 0 0 0 10px;
  }
  #header .navigation .nav_subtitle {
    display: block;
  }
  #header .navigation .cmsmasters_resp_nav_toggle {
    vertical-align: middle;
    width: 40px;
    margin: 0 0 0 15px;
    cursor: pointer;
    float: right;
    text-align: center;
  }
  .quote_four.cmsmasters_quotes_grid .cmsmasters_quote {
    float: none;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_list:before {
    content: none;
  }
  .quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_list:last-child .cmsmasters_quote:nth-child(4) {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  .quote_four.cmsmasters_quotes_grid .cmsmasters_quotes_vert {
    display: none;
  }
}
@media only screen and (max-width: 950px) {
  .content_wrap.l_sidebar .cmsmasters_row,
  .content_wrap.r_sidebar .cmsmasters_row {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .content,
  .sidebar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .content_wrap.fullwidth .blog.opened-article {
    width: 100%;
  }
  .cmsmasters_open_project .project_content.with_sidebar {
    width: 100%;
    float: none;
  }
  .cmsmasters_open_project .project_content.project_standard_slider .cmsmasters_project_content {
    float: none;
    width: 100%;
  }
  .cmsmasters_open_project .project_sidebar {
    width: 100%;
    float: none;
    padding: 40px 0 0 !important;
  }
  .cmsmasters_open_profile .profile_content.with_sidebar {
    width: 100%;
    float: none;
  }
  .cmsmasters_open_profile .profile_sidebar {
    width: 100%;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }
  .quote_three.cmsmasters_quotes_grid .cmsmasters_quote {
    float: none;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_list:before {
    content: none;
  }
  .quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_list:last-child .cmsmasters_quote:nth-child(3) {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  .quote_three.cmsmasters_quotes_grid .cmsmasters_quotes_vert {
    display: none;
  }
  .cmsmasters_profile_vertical .profile_outer {
    padding: 40px;
  }
  .widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {
    width: 120px;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list {
    display: block;
    border-width: 0;
    border-style: solid;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
    width: 100%;
    display: block;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item a {
    display: inline-block;
    padding: 15px 45px;
    width: 100%;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item a[class^="cmsmasters-icon-"],
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item a[class^="cmsmasters_theme_icon_"] {
    padding: 15px 45px 15px 45px;
  }
  .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item a:before {
    font-size: 16px;
    line-height: 1em;
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: 15px;
    right: auto;
    top: 0;
    bottom: 0;
  }
  .widget_custom_posts_tabs_entries .cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list .cmsmasters_tabs_list_item a {
    padding: 15px 0;
  }
}
@media only screen and (max-width: 768px) {
  .gallery.gallery-columns-8 .gallery-item {
    width: 46.6%;
  }
  .gallery.gallery-columns-8 .gallery-item:nth-child(2n + 1) {
    clear: both;
  }
  .one_first,
  .one_half,
  .one_third,
  .two_third,
  .one_fourth,
  .one_fifth,
  .three_fourth,
  .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_141412 .cmsmasters_column.one_half,
  .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_no_margin .one_first,
  .cmsmasters_row_no_margin .one_half,
  .cmsmasters_row_no_margin .one_third,
  .cmsmasters_row_no_margin .two_third,
  .cmsmasters_row_no_margin .one_fourth,
  .cmsmasters_row_no_margin .one_fifth,
  .cmsmasters_row_no_margin .three_fourth,
  .cmsmasters_row_no_margin .cmsmasters_121414 .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin .cmsmasters_141412 .cmsmasters_column.one_half,
  .cmsmasters_row_no_margin .cmsmasters_141214 .cmsmasters_column.one_fourth,
  .cmsmasters_row_no_margin .cmsmasters_141214 .cmsmasters_column.one_half {
    width: 100%;
  }
   > .cmsmasters_row_columns_behavior .one_first,
   > .cmsmasters_row_columns_behavior .one_half,
   > .cmsmasters_row_columns_behavior .one_third,
   > .cmsmasters_row_columns_behavior .two_third,
   > .cmsmasters_row_columns_behavior .one_fourth,
   > .cmsmasters_row_columns_behavior .one_fifth,
   > .cmsmasters_row_columns_behavior .three_fourth,
   > .cmsmasters_row_columns_behavior .cmsmasters_121414 .cmsmasters_column.one_half,
   > .cmsmasters_row_columns_behavior .cmsmasters_141412 .cmsmasters_column.one_half,
   > .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_fourth,
   > .cmsmasters_row_columns_behavior .cmsmasters_141214 .cmsmasters_column.one_half {
    display: block;
  }
  .cmsmasters-form-builder .one_first,
  .cmsmasters-form-builder .one_half,
  .cmsmasters-form-builder .one_third {
    width: 93.2%;
    float: none;
    clear: both;
  }
  .cmsmasters_row_margin.cmsmasters_row_columns_behavior {
    display: block;
  }
  .cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_featured_block .featured_block_text:empty {
    padding-bottom: 100%;
  }
  .cmsmasters_row_no_margin .cmsmasters_row_margin {
    display: block;
  }
  .sidebar_layout_14141414 aside,
  .sidebar_layout_141412 aside,
  .sidebar_layout_141214 aside,
  .sidebar_layout_121414 aside,
  .sidebar_layout_131313 aside,
  .sidebar_layout_3414 aside,
  .sidebar_layout_1434 aside,
  .sidebar_layout_2313 aside,
  .sidebar_layout_1323 aside,
  .sidebar_layout_1212 aside {
    width: 96.6% !important;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
    float: none;
    padding: 0 20px 10px;
    text-align: center;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_sort_block > a {
    float: none;
  }
  .cmsmasters_featured_block .featured_block_inner {
    width: 100% !important;
  }
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_third,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_third {
    width: 50%;
  }
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_fourth {
    width: 46.6%;
  }
  .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item {
    width: 100%;
    float: none;
    clear: both;
  }
  .cmsmasters_clients_grid.clients_five .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_four .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_three .cmsmasters_clients_item,
  .cmsmasters_clients_grid.clients_two .cmsmasters_clients_item {
    width: 100%;
    float: none;
    clear: both;
  }
  #header .header_mid .header_mid_inner {
    padding: 0;
  }
  #header .header_mid .header_mid_inner > div {
    margin: 0 20px;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap > div:first-child {
    margin: 15px 0;
  }
  .enable_header_centered #header .header_mid .search_shop_wrap > div:first-child {
    margin: 15px 0;
  }
  #header .header_mid .social_wrap .social_wrap_inner {
    text-align: center;
  }
  #header .header_mid .slogan_wrap {
    margin: -20px 0 40px;
  }
  #header .header_mid .slogan_wrap .slogan_wrap_inner {
    text-align: center;
  }
  #header .header_mid .slogan_wrap .slogan_wrap_text {
    text-align: center;
  }
  #header .header_mid .mid_nav_wrap {
    height: auto;
    float: none;
    margin: 0;
    visibility: visible;
    overflow: hidden;
    clear: both;
    opacity: 1;
  }
  #header .header_mid .mid_nav_wrap nav {
    display: none;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap,
  .enable_header_centered #header .header_mid .search_shop_wrap {
    height: auto;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap > div,
  .enable_header_centered #header .header_mid .search_shop_wrap > div {
    float: none;
    margin: 0;
  }
  .enable_header_centered #header .header_mid .slogan_social_wrap > div > div,
  .enable_header_centered #header .header_mid .search_shop_wrap > div > div {
    text-align: center;
  }
  #header .header_mid .slogan_social_wrap {
    margin: 0 20px 0 !important;
  }
  #header .header_bot .resp_bot_nav_wrap {
    padding: 15px 0;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field {
    height: 70px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button {
    font-size: 22px;
    line-height: 22px;
    width: 85px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    padding-right: 80px;
    padding-left: 30px;
    font-size: 30px;
    line-height: 70px;
  }
  .cmsmasters_footer_default .footer_nav {
    display: block;
    text-align: center;
  }
  .cmsmasters_footer_default .footer_nav > li {
    display: inline-block;
    float: none;
  }
  .cmsmasters_footer_small .footer_nav_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .footer_nav_wrap nav > div {
    text-align: center;
  }
  .cmsmasters_footer_small .footer_nav_wrap nav > div:after {
    content: none;
  }
  .cmsmasters_footer_small .footer_nav {
    display: block;
    text-align: center;
  }
  .cmsmasters_footer_small .footer_nav > li {
    display: inline-block;
    float: none;
  }
  .cmsmasters_footer_small .social_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .social_wrap .social_wrap_inner {
    text-align: center;
  }
  .cmsmasters_footer_small .social_wrap .social_wrap_inner:after {
    content: none;
  }
  .cmsmasters_footer_small .footer_custom_html_wrap {
    padding: 0 0 10px;
    float: none;
  }
  .cmsmasters_footer_small .footer_custom_html_wrap .footer_custom_html {
    text-align: center;
  }
  .cmsmasters_footer_small .footer_copyright {
    padding: 0;
    text-align: center;
  }
  .blog.timeline {
    height: auto !important;
  }
  .blog.timeline:before {
    content: none;
  }
  .blog.timeline .cmsmasters_post_info {
    display: inline-block;
    margin: 0 0 20px;
    position: relative;
    left: auto;
    right: auto;
    top: 0;
  }
  .blog.timeline .cmsmasters_post_date {
    border-width: 1px;
    border-style: solid;
  }
  .blog.timeline .post {
    width: 100%;
    padding-top: 50px;
    position: relative !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }
  .blog.timeline .post:first-child {
    padding-top: 0;
  }
  .blog.timeline .post:before {
    content: none;
  }
  .blog.timeline .post.cmsmasters_timeline_left .cmsmasters_timeline_margin,
  .blog.timeline .post.cmsmasters_timeline_right .cmsmasters_timeline_margin {
    margin-left: 0;
    margin-right: 0;
  }
  .cmsmasters_profile_vertical .profile_inner {
    display: block;
    width: 100%;
    text-align: center;
  }
  .cmsmasters_profile_vertical .profile_inner > div {
    display: block;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .cmsmasters_profile_vertical .profile_inner > div.pl_img_wrap {
    display: inline-block;
    width: auto;
  }
  .cmsmasters_profile_vertical .profile_inner > div.cmsmasters_profile_header_wrap {
    padding: 20px 0 0;
    width: auto;
  }
  .cmsmasters_profile_vertical .profile_inner > div.cmsmasters_profile_header_wrap + .cmsmasters_profile_content {
    padding: 30px 0 0;
  }
  .cmsmasters_profile_vertical .profile_inner > div.cmsmasters_profile_header_wrap .profile_social_icons {
    margin: 15px 0 0;
    text-align: center;
  }
  .cmsmasters_profile_vertical .profile_inner > div.cmsmasters_profile_header_wrap .profile_contact_info {
    text-align: center;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap {
    width: 65%;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap .cmsmasters_tab_inner {
    padding: 0 0 0 20px;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list {
    width: 35%;
  }
  .cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_wrap .cmsmasters_tab_inner {
    padding: 0 20px 0 0;
  }
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quote {
    float: none;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quotes_list:before {
    content: none;
  }
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quotes_list:last-child .cmsmasters_quote:nth-child(2) {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quotes_vert {
    display: none;
  }
  .cmsmasters_icon_box.cmsmasters_icon_box_top {
    margin-bottom: 20px;
  }
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html.cmsmasters_html {
    margin-top: 0 !important;
  }
  html.cmsmasters_html body.admin-bar {
    padding-top: 46px;
  }
  html.cmsmasters_html body.admin-bar .cmsmasters_header_search_form_close {
    top: 70px;
  }
  html.cmsmasters_html .cmsmasters_header_search_form {
    top: 0;
    bottom: 0;
  }
  html.cmsmasters_html .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
    float: none;
    width: 100%;
  }
  html.cmsmasters_html .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list .cmsmasters_tabs_list_item:last-child {
    margin: 0;
  }
  html.cmsmasters_html .widget_custom_posts_tabs_entries .cmsmasters_tabs .cmsmasters_tabs_list .cmsmasters_tabs_list_item a {
    display: block;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list {
    display: block;
    width: 100%;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item {
    display: block;
    text-align: left;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item:hover:before,
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item.current_tab:before {
    left: 0;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item:hover:after,
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item.current_tab:after {
    right: 0;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item:before,
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item:after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: -50%;
    z-index: 1;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item:after {
    left: auto;
    right: -50%;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item a {
    display: inline-block;
    width: 100%;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_list .cmsmasters_tabs_list_item a:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap {
    display: block;
    width: 100%;
  }
  .cmsmasters_tabs.tabs_mode_tour .cmsmasters_tabs_wrap .cmsmasters_tab_inner {
    padding: 40px 0 0;
  }
  .cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_wrap .cmsmasters_tab_inner {
    padding: 40px 0 0;
  }
  .cmsmasters_tabs.tabs_mode_tour.tabs_pos_right .cmsmasters_tabs_list_item {
    text-align: right;
  }
  .quote_one.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner:before,
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner:before {
    margin: auto !important;
    left: 0;
    right: 0;
    top: 32px;
    bottom: auto;
  }
  .quote_one.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_content,
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_content {
    text-align: center;
  }
  .quote_one.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_img_info_wrap .cmsmasters_quote_image,
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_img_info_wrap .cmsmasters_quote_image {
    display: block;
    padding: 0 0 20px;
    text-align: center;
  }
  .quote_one.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_img_info_wrap .cmsmasters_quote_info_wrap,
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_img_info_wrap .cmsmasters_quote_info_wrap {
    display: block;
    text-align: center;
  }
  .quote_one.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_img_info_wrap .cmsmasters_quote_info_wrap .cmsmasters_quote_subtitle_wrap,
  .quote_two.cmsmasters_quotes_grid .cmsmasters_quote .cmsmasters_quote_inner .cmsmasters_quote_img_info_wrap .cmsmasters_quote_info_wrap .cmsmasters_quote_subtitle_wrap {
    text-align: center;
  }
  .blog.opened-article .cmsmasters_post_footer > div {
    float: none;
    display: block;
    text-align: center;
  }
  .blog.opened-article .cmsmasters_post_footer > div.share_posts > div {
    margin: 0;
    text-align: center;
  }
  .blog.opened-article .cmsmasters_post_footer > div.share_posts > div a {
    margin: 0 12px 5px 12px;
  }
  .about_author .about_author_inner {
    text-align: center;
  }
  .about_author .about_author_avatar {
    float: none;
    margin: 0 0 30px;
  }
  .cmsmasters_wrap_pagination {
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  #page .gallery .gallery-item {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .cmsmasters_items_filter_wrap .cmsmasters_items_sort_block .cmsmasters_items_filter_list li {
    margin-bottom: 20px;
    display: block;
  }
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fifth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_fourth,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_third,
  .cmsmasters_counters .cmsmasters_counter_wrap.one_half {
    width: 100%;
  }
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_fifth,
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_fourth,
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_third,
  .cmsmasters_stats.stats_mode_bars.stats_type_vertical .cmsmasters_stat_wrap.one_half {
    width: 96.6%;
  }
  .cmsmasters_pricing_table.pricing_four .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_three .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_two .cmsmasters_pricing_item,
  .cmsmasters_pricing_table.pricing_one .cmsmasters_pricing_item {
    width: 100%;
    float: none;
  }
  .post_nav > span.cmsmasters_prev_post {
    float: none;
    display: block;
    padding: 0 0 20px;
  }
  .post_nav > span.cmsmasters_prev_post > a {
    display: block;
    padding: 75px 0 0;
    text-align: center;
  }
  .post_nav > span.cmsmasters_prev_post .cmsmasters_prev_arrow {
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
  }
  .post_nav > span.cmsmasters_prev_post .sub {
    left: 0;
    right: 0;
    top: 50px;
    bottom: auto;
    text-align: center;
  }
  .post_nav > span.cmsmasters_next_post {
    float: none;
    display: block;
    padding: 20px 0 0;
  }
  .post_nav > span.cmsmasters_next_post > a {
    display: block;
    padding: 0 0 75px;
    text-align: center;
  }
  .post_nav > span.cmsmasters_next_post .cmsmasters_next_arrow {
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .post_nav > span.cmsmasters_next_post .sub {
    left: 0;
    right: 0;
    top: auto;
    bottom: 50px;
    text-align: center;
  }
  #header .header_mid .header_mid_inner {
    text-align: center;
  }
  #header .header_mid .header_mid_inner .cmsmasters_search_nav_wrapper {
    display: inline-block;
    float: none;
  }
  #header .header_mid .header_mid_inner .cmsmasters_search_nav_wrapper .mid_search_but_wrap,
  #header .header_mid .header_mid_inner .cmsmasters_search_nav_wrapper .resp_mid_nav_wrap {
    float: left;
  }
  #header .header_mid .header_mid_inner .mid_search_but_wrap {
    width: auto;
    float: none;
    margin: 24px 5px;
    text-align: center;
  }
  #header .header_mid .header_mid_inner .logo_wrap {
    width: auto;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  #header .header_mid .header_mid_inner .logo_wrap:after {
    content: none;
  }
  #header .header_mid .header_mid_inner .logo_wrap .logo img {
    position: static;
  }
  #header .header_mid .header_mid_inner .social_wrap {
    float: none;
  }
  #header .header_mid .header_mid_inner .resp_mid_nav_wrap {
    float: none;
    margin: 20px 5px;
    text-align: center;
  }
  #header .header_mid .header_mid_inner .resp_mid_nav_wrap .resp_mid_nav_outer {
    text-align: center;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field {
    height: 50px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field button {
    font-size: 16px;
    line-height: 16px;
    width: 80px;
  }
  .cmsmasters_header_search_form .cmsmasters_header_search_form_field input:not([type=button]):not([type=checkbox]):not([type=file]):not([type=hidden]):not([type=image]):not([type=radio]):not([type=reset]):not([type=submit]):not([type=color]):not([type=range]) {
    padding-right: 75px;
    font-size: 20px;
    line-height: 50px;
  }
  #page .headline_outer .headline_inner {
    padding: 20px;
  }
  #page .headline_outer .headline_inner .headline_aligner {
    display: none;
  }
  #page .headline_outer .headline_inner .headline_text {
    display: block;
    text-align: center;
  }
  #page .cmsmasters_breadcrumbs {
    float: none;
    text-align: center;
  }
  #page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_aligner {
    display: none;
  }
  #page .cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner {
    padding-bottom: 0;
  }
  .cmsmasters_comment_item .cmsmasters_comment_item_title {
    display: block;
  }
  .cmsmasters_comment_item .cmsmasters_comment_item_cont_reply_date {
    float: none;
  }
  .cmsmasters_comment_item .cmsmasters_comment_item_cont_reply_date .comment-reply-link,
  .cmsmasters_comment_item .cmsmasters_comment_item_cont_reply_date .cmsmasters_comment_item_date {
    float: left;
    margin: 0 15px 0 0;
  }
  .cmsmasters_twitter_wrap .cmsmasters_theme_icon_user_twitter {
    font-size: 30px;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter {
    padding: 30px 0 0;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item {
    padding: 70px 0;
  }
  .cmsmasters_twitter_wrap .published {
    top: 30px;
  }
  .cmsmasters_twitter_wrap .cmsmasters_twitter_item_content {
    text-align: center;
  }
  .cmsmasters_twitter_wrap .owl-buttons {
    left: 0;
    top: auto;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_img_wrap {
    float: none;
    width: 100%;
    margin: 0 0 30px;
    padding: 0 20%;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap {
    text-align: center;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap > * {
    text-align: center;
  }
  .cmsmasters_archive_type .cmsmasters_archive_item_cont_wrap .cmsmasters_archive_item_date_wrap {
    float: none;
    display: block;
    padding: 0;
  }
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li,
  .cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li {
    width: 100%;
  }
  .cmsmasters_footer_default .social_wrap li {
    margin: 10px 18px 0;
  }
  .cmsmasters_footer_default .social_wrap li a {
    font-size: 24px;
    line-height: 28px;
    height: 28px;
  }
}
@media only screen and (max-width: 320px) {
  .post-password-form,
  .header_top_inner,
  .header_mid_inner,
  .header_bot_inner,
  .content_wrap,
  .headline_inner,
  .bottom_outer,
  .footer_inner,
  .cmsmasters_row_inner,
  .cmsmasters_row_title_wrap {
    width: 320px;
  }
}
