/**
 * @package 	WordPress
 * @subpackage 	Dream City
 * @version 	1.0.0
 * 
 * Tribe Events Responsive CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1025px) {
  #tribe-events-content-wrapper {
    outline: none;
  }
  .content .tribe-events-photo #tribe-events-photo-events {
    margin: 0 -11px;
  }
}
@media only screen and (max-width: 1024px) {
  .tribe-events-list .tribe-events-event-image {
    width: 40%;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group {
    width: 46.6%;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group:nth-child(2n + 1) {
    clear: left;
  }
}
@media only screen and (min-width: 950px) {
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .type-tribe_events {
    padding: 50px 0;
    margin: 0;
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 0;
    border-bottom-style: solid;
    overflow: hidden;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .type-tribe_events:last-child {
    padding: 50px 0 0;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .type-tribe_events:first-child {
    border-top-width: 0;
    border-top-style: solid;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .cmsmasters_event_date {
    display: none;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .cmsmasters_event_date.date_for_content {
    display: inline-block;
    width: 28%;
    vertical-align: middle;
    padding-right: 20px;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .cmsmasters_event_date.date_for_content > span {
    display: inline-block;
    vertical-align: middle;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .cmsmasters_event_date.date_for_content > span.cmsmasters_event_date_month_wrap {
    margin-left: 15px;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .cmsmasters_event_date.date_for_content > span.cmsmasters_event_date_month_wrap > span {
    display: block;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .tribe-events-list-widget-content-wrap {
    display: inline-block;
    width: 52%;
    vertical-align: middle;
    padding-right: 20px;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .tribe-events-list-widget-content-wrap .entry-title {
    padding: 0 0 14px;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .tribe-events-list-widget-content-wrap .cmsmasters_widget_event_info > div {
    padding: 7px 0 0;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .tribe-events-list-widget-content-wrap .cmsmasters_widget_event_info > div:first-child {
    padding: 0;
  }
  .cmsmasters_row .one_first .tribe-events-adv-list-widget .tribe-events-read-more-wrap {
    display: inline-block;
    width: 19%;
    vertical-align: middle;
    text-align: right;
  }
  .cmsmasters_row .one_first .tribe-countdown-text {
    padding-bottom: 40px;
  }
  .cmsmasters_row .one_first .tribe-countdown-timer {
    text-align: center;
  }
  .cmsmasters_row .one_first .tribe-countdown-timer:before,
  .cmsmasters_row .one_first .tribe-countdown-timer:after {
    content: none;
  }
  .cmsmasters_row .one_first .tribe-countdown-timer > div {
    display: inline-block;
    width: 0;
    margin: 0;
    padding: 0 10px;
    float: none;
  }
  .cmsmasters_row .one_first .tribe-countdown-timer > div:not(.tribe-countdown-colon) {
    width: 22%;
  }
  .cmsmasters_row .one_first .tribe-countdown-timer > div.tribe-countdown-colon {
    display: none;
  }
  .cmsmasters_row .one_first .tribe-countdown-timer .tribe-countdown-under {
    padding: 27px 0 0;
  }
}
@media only screen and (max-width: 950px) {
  .tribe-events-list .cmsmasters_events_start_date {
    width: 23%;
  }
  .tribe-events-list .cmsmasters_events_start_date .cmsmasters_event_month_week {
    margin: 0;
    display: block;
  }
  .tribe-events-list .cmsmasters_events_list_event_info {
    width: 53%;
  }
  .tribe-events-list .tribe-events-read-more-wrap {
    width: 22%;
  }
  .cmsmasters_single_event_header .cmsmasters_events_start_date {
    width: 23%;
  }
  .cmsmasters_single_event_header .cmsmasters_events_start_date .cmsmasters_event_month_week {
    margin: 0;
    display: block;
  }
  .cmsmasters_single_event_header .cmsmasters_single_event_header_left {
    width: 53%;
  }
  .cmsmasters_single_event_header .cmsmasters_single_event_header_right {
    width: 22%;
  }
}
@media only screen and (max-width: 768px) {
  .tribe-bar-filters-inner > div {
    width: 96.6%;
  }
  .tribe-events-uses-geolocation .tribe-bar-filters-inner > div {
    width: 96.6%;
  }
  .tribe-bar-filters-inner > div.tribe-bar-submit label {
    display: none;
  }
  #tribe-geo-map-wrapper #tribe-geo-map {
    padding-bottom: 50%;
  }
  #tribe-mobile-container {
    display: block;
  }
  table.tribe-events-calendar thead th {
    padding: 5px 0;
  }
  table.tribe-events-calendar tbody td {
    height: 45px;
    padding-bottom: 20px;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events {
    position: relative;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events:before {
    content: '';
    width: 5px;
    height: 5px;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: auto;
    bottom: 8px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -ms-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
  }
  table.tribe-events-calendar tbody td.tribe-events-has-events.mobile-active {
    outline: none;
  }
  table.tribe-events-calendar tbody td.tribe-events-thismonth {
    position: relative;
  }
  table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] {
    padding: 0;
    text-align: center;
  }
  table.tribe-events-calendar tbody td div[id*="tribe-events-daynum-"] a {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  table.tribe-events-calendar tbody td .tribe_events {
    display: none;
  }
  table.tribe-events-calendar tbody td .tribe-events-viewmore {
    display: none;
  }
  .tribe-events-list .cmsmasters_events_start_date {
    width: 100%;
    padding: 0 0 30px;
    float: none;
    text-align: center;
    clear: both;
  }
  .tribe-events-list .cmsmasters_events_start_date > span {
    display: block;
    margin: 0;
  }
  .tribe-events-list .cmsmasters_events_start_date > span.cmsmasters_event_day {
    margin: 0 0 5px;
  }
  .tribe-events-list .cmsmasters_events_list_event_info {
    width: 100%;
    padding: 0 0 30px;
    text-align: center;
  }
  .tribe-events-list .cmsmasters_events_list_event_info * {
    text-align: center;
  }
  .tribe-events-list .tribe-events-read-more-wrap {
    width: 100%;
    float: none;
    text-align: center;
    clear: both;
  }
  .tribe-events-week-grid .tribe-events-grid {
    display: none;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group {
    width: 96.6%;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_events_start_date {
    width: 100%;
    padding: 0 0 30px;
    float: none;
    text-align: center;
    clear: both;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_events_start_date > span {
    display: block;
    margin: 0;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_events_start_date > span.cmsmasters_event_day {
    margin: 0 0 5px;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_single_event_header_left {
    width: 100%;
    padding: 0 0 30px;
    text-align: center;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_single_event_header_left * {
    text-align: center;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_single_event_header_right {
    float: none;
    width: 100%;
    padding: 0;
    clear: both;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_single_event_header_right > div {
    text-align: center;
  }
  .cmsmasters_single_event .cmsmasters_single_event_header .cmsmasters_single_event_header_right > div * {
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_start_date {
    width: 100%;
    padding: 0 0 30px;
    float: none;
    text-align: center;
    clear: both;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_start_date > span {
    display: block;
    margin: 0;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_start_date > span.cmsmasters_event_day {
    margin: 0 0 5px;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_organizer_header_left {
    width: 100%;
    padding: 0 0 20px;
    text-align: center;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_organizer_header_left * {
    text-align: center;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_organizer_header_right {
    display: block;
    width: 100%;
    padding: 0;
    clear: both;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_organizer_header_right > div {
    text-align: center;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header .cmsmasters_events_organizer_header_right > div * {
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_start_date {
    width: 100%;
    padding: 0 0 30px;
    float: none;
    text-align: center;
    clear: both;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_start_date > span {
    display: block;
    margin: 0;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_start_date > span.cmsmasters_event_day {
    margin: 0 0 5px;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_venue_header_left {
    width: 100%;
    padding: 0 0 20px;
    text-align: center;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_venue_header_left * {
    text-align: center;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_venue_header_right {
    display: block;
    width: 100%;
    padding: 0;
    clear: both;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_venue_header_right > * {
    float: none;
    display: block;
    text-align: center;
  }
  .tribe-events-venue .cmsmasters_events_venue_header .cmsmasters_events_venue_header_right > * * {
    float: none;
  }
  #tribe-bar-views {
    display: block;
  }
  #tribe-bar-views .tribe-bar-views-inner {
    text-align: center;
  }
  #tribe-bar-views .button {
    float: none;
    margin: 0 auto 20px;
  }
  #tribe-bar-views .tribe-bar-views-list {
    padding: 0;
  }
  .cmsmasters_row .tribe-events-adv-list-widget .tribe-mini-calendar-event {
    text-align: center;
  }
  .cmsmasters_row .tribe-events-adv-list-widget .cmsmasters_event_date {
    display: inline-block;
    float: none;
    margin: 5px;
  }
  .cmsmasters_row .tribe-events-adv-list-widget .cmsmasters_event_date.date_for_content {
    display: none;
  }
  .cmsmasters_row .tribe-events-adv-list-widget .tribe-events-list-widget-content-wrap {
    display: block;
    width: 100%;
    padding: 0 0 30px;
    text-align: center;
  }
  .cmsmasters_row .tribe-events-adv-list-widget .tribe-events-list-widget-content-wrap * {
    text-align: center;
  }
  .cmsmasters_row .tribe-events-adv-list-widget .tribe-events-read-more-wrap {
    display: block;
    width: 100%;
    text-align: center;
  }
  .cmsmasters_row .tribe-events-countdown-widget .tribe-countdown-timer > div:not(.tribe-countdown-colon) {
    width: auto;
    margin: 0 20px;
  }
}
@media only screen and (max-width: 540px) {
  #tribe-geo-map-wrapper #tribe-geo-map {
    padding-bottom: 100%;
  }
  .tribe-events-photo .tribe-events-photo-event {
    width: 100% !important;
    float: none;
  }
  .cmsmasters_single_event .cmsmasters_single_event_map_img_wrap.used_thumbnail_and_map {
    margin: 0;
  }
  .cmsmasters_single_event .cmsmasters_single_event_map_img_wrap.used_thumbnail_and_map > div {
    float: none;
    width: 100%;
    margin: 0 0 30px;
  }
  .tribe-events-venue .cmsmasters_single_event_map_img_wrap.used_thumbnail_and_map {
    margin: 0;
  }
  .tribe-events-venue .cmsmasters_single_event_map_img_wrap.used_thumbnail_and_map > div {
    float: none;
    width: 100%;
    margin: 0 0 30px;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_left {
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .tribe-events-venue .cmsmasters_events_venue_header_right a {
    float: left;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_left {
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_right {
    padding: 25px 0 0;
    float: none;
  }
  .tribe-events-organizer .cmsmasters_events_organizer_header_right a {
    float: left;
  }
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_4 .tribe-events-meta-group,
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_3 .tribe-events-meta-group,
  .cmsmasters_single_event_meta.cmsmasters_event_meta_info_col_2 .tribe-events-meta-group {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .cmsmasters_single_event_map [id*="tribe-events-gmap"],
  .tribe-events-venue .cmsmasters_events_venue_meta_map [id*="tribe-events-gmap"] {
    padding-bottom: 100% !important;
  }
  ul.tribe-related-events li {
    width: 96.6%;
    margin-bottom: 30px;
    float: none;
    clear: both;
  }
  ul.tribe-related-events li:last-child {
    margin-bottom: 0;
  }
}
