/*
Theme Name: Dream City Child
Theme URI: http://cmsmasters.net/dream-city-child/
Author: cmsmasters
Author URI: http://cmsmasters.net/
Description: Dream City Child Theme
Template: dream-city
Version: 1.0.0
License:
License URI:
Text Domain: dream-city-child
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

.hidden{
	display:none!important;
}

/* Home Page */
.en{
	background-image: url("http://cpdev.crowdpolicy.com/platanias/wp-content/uploads/2017/06/Flag_of_the_United_Kingdom.svg");
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: center;
	width: 30px;
}
.en span.nav_title {
    display: none;
}

.search_bar_wrap {
	box-shadow: 0px 0px 0px 10px transparent!important;
}

.firstwords{
    border-radius: 50px;
}
.videocustom_button {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    border-style: solid;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #ff9400;
    color: #ffffff;
    border-color: #ff9400;
}
.videocustom_button:hover {
    background-color: rgba(255,148,0,0.3);
    color: #ffffff;
    border-color: #ff9400;
}

.allignbtn {
    position: fixed;
   /* top: 360px;*/
    top :145px;
    right: 5px;
    text-align: center!important;
    font-size: 20px!important;
	font-family: 'Source Sans Pro'!important;
    font-weight: normal!important;
    font-style: normal!important;
    border-style: solid!important;
    -webkit-border-radius: 5px!important;
   /* border-radius: 5px!important;*/
    border-radius: 30px!important;
    background-color: #ff9400;
    color: #ffffff;
    border-color: #ff9400;
	width:48px;
	/*width:73px;*/
	max-height:48px!important;
}
.allignbtn:hover {
    background-color: rgba(255,148,0,0.3);
    color: #ffffff;
    border-color: #ff9400;
}
.allignbtn span{
	font-size: 14px!important;
	text-transform: none!important;
}

.eikones{
    margin-top: 50px;
	/*margin-bottom: 50px;*/
}

.eikones .one_third {
	margin: 0 1.2%; 
} 
.topimg{
	margin-bottom:20px;
}
iframe {
    margin-bottom: 0px!important;
    max-width: 100%;
}
.dhm{
	font-size: 18px!important;
}
.btnmayor{
    text-align: center;
}
.btnmayor #cmsmasters_button_ {
    display: inline-block;
    margin: 15px 15px 10px auto; 
}
.plhroficon{
	margin-bot:20px;
}
.tellista{
	padding:22px 40px 20px 40px;
	background-color:#fff;
}
.xrasimabtn{
	margin-top:10px;
	width:100%; 

}

/*Modal*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

div#cmsmasters_row_sh5kg2opd4 {
z-index: 99999;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 10px;
    width: 50%; /* Could be more or less, depending on screen size */
	text-align:center;
	overflow: auto; /* Enable scroll if needed */
}
.modal-content h3{
	color: #966a27;
}

/*the image form*/
.imgform input#input_2_2 {
    margin: auto 25%;
}
.imgform span#extensions_message {
    text-align: center;
    margin: auto 25%;
}
.imgform .gform_footer.top_label {
    text-align: center;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*Πλατανιάς #Ψηφιακός Δήμος page*/
#cmsmasters_heading_6akcq7xq4i a.cmsmasters-icon-custom-business:before, #cmsmasters_heading_fdv1rop9h a.cmsmasters-icon-custom-community:before, #cmsmasters_heading_bexfqc6ren a.cmsmasters-icon-custom-manage:before, #cmsmasters_heading_avr232qe9q a.cmsmasters-icon-message:before {
   /* color: #966a27;*/
    color: white;
    font-size: 24px;
}


/* Google Map page */
div#cmsmasters_row_6939df5120 {
    margin-top: -10px;
}

#copyright{
	float:left;
}
.footer_inner,#footer-links{
	text-align: center;
}

/*Don't display images under related services*/
#post-14774 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14806 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14808 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14812 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14814 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14816 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14818 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14820 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14822 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

#post-14837 .cmsmasters_img_rollover_wrap.preloader.highImg {
display : none !important;
}

body{
    font-size:15px !important;
}

#request-form, #newsletter{
    color:black;
    border: 1px solid #e7e3e3;
    border-radius: 15px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.3);
}

.acf-fields.acf-form-fields.-top{
    padding: 25px;
}

#request-form li::before, #newsletter li::before  {
    content:none !important;
}

.acf-form-submit{
    text-align: center;
    margin-bottom: 20px;
}

#gform_3{
    color:black;
    border: 1px solid #e7e3e3;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.3);
}

.gfield{
    padding: 25px;
}

.ginput_container, .gfield{
    text-align:center;
}

.gform_footer{
    text-align: center;
}

#cmsmasters_fb_4ace71f6f0{
    font-family: 'Source Sans Pro'
}

/* Aliggn right Icons*/
.cmsmasters_button.cmsmasters_but_clear_styles{
    padding: 2px 8px;
}
.fa{
    margin-bottom:5px;
}

.cmsmasters_theme_icon_slide_top_button{
    margin-bottom: 25px;
}

#icon_wrapper{
    right:5px ;
	top:35%;
}

#slide_top{
    right: 5px;
}
#onesignal-bell-container.onesignal-reset .onesignal-bell-launcher.onesignal-bell-launcher-bottom-right{
    right:5px !important;
}
/*
#cmsmasters_fb_4ace71f6f0 .featured_block_inner{
    padding: 15% 15% 12% 30% !important;
}*/

/*logo for retina*/
.header_mid .logo_wrap .logo img{
    padding: 3px 0;
}

.search_bar_wrap .search_button button {
    background-color: #966a27;
    border-radius: 0;
    color: #ffffff !important;
}

.post-masonry{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px) {
    .post-masonry{
        width: 33.33333%;
        float: left;
    }
}
.post.post-masonry {
    border-bottom: 0;
    margin-bottom: 40px; 
	height: 275px;
}
.post.post-masonry .post-masonry-content {
    background-color: #fff;
    overflow: hidden;
    position: relative; }
.post.post-masonry .post-masonry-content:hover .listing-column-title {
    background-color: #0aab9a; }
.post.post-masonry .post-masonry-content:hover .listing-column-title span:before {
    color: rgba(255, 255, 255, 0.8); }
.post.post-masonry .post-masonry-content .post-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 230px;
    width: 100%; }
.post.post-masonry .post-masonry-content .post-image:before {
    display: none; }
.post.post-masonry .post-masonry-content .post-image a {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; }
.post.post-masonry .post-masonry-content .post-meta-categories {
    background-color: #0aab9a;
    color: #fff;
    font-size: 15px;
    padding: 6px 17px;
    position: absolute;
    left: 30px;
    top: 212px;
    white-space: nowrap;
    z-index: 2; }
.post.post-masonry .post-masonry-content .post-meta-categories a {
    border-bottom: 0;
    color: #fff;
    text-decoration: none; }
.post.post-masonry .post-masonry-content .post-content {
    padding-top: 30px; }
.post.post-masonry .post-masonry-content .post-content h3 {
    padding: 0 30px 0 30px;
    position: relative; }
.post.post-masonry .post-masonry-content .post-content h3:before {
    background-color: #044a85;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 3px; }
.post.post-masonry .post-masonry-content .post-content h3 a {
    color: #000; }
.post.post-masonry .post-masonry-content .post-content h3 a:hover {
    color: #044a85; }
.post.post-masonry .post-masonry-content .post-content p {
    padding: 0 30px 30px 30px; }
.post.post-masonry .post-masonry-content .post-meta {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0 30px 20px 30px; }

#cmsmasters_row_ry5c7zv6dq .cmsmasters_row_outer_parent{
    padding-bottom: 0 !important;
}
/*
#cmsmasters_row_f0a5cd3732 .cmsmasters_row_outer_parent{
    padding-bottom: 225px !important;
}

#cmsmasters_row_f0a5cd3732 .cmsmasters_row_outer_parent{
    padding-top:20px !important;
}*/
/*
footer{
    padding: 7.5px 10px;
    position: absolute !important;
    width: 100% !important;
    bottom: 0;
}*/
.apoul {
	
}

.apoul li {
	    display: inline-block;
}
ul.apoul > li { 

}

.bg-image{
	background-image : url('http://cpdev.crowdpolicy.com/platanias/wp-content/uploads/2017/07/sketh.png');
	width: 100%;
	/*height: 20%;*/
	
}

.hover{
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover:hover {
	opacity: 0.8;
}

.box-style{
	border-radius: 5px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.08);
}


.post-ratings img{
	width:16px;
}
ul.the_serchss {
    margin-top: 20px;
    width: 78% !important;
    float: left;
}

ul.the_serchss .inputadvapo {
	width:90% !important;
	}
ul.the_serchss li {display: block;}
ul.the_serchss li:before {
	content: '' !important;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 0em !important;
    padding: 0;
    margin: 0 !important;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    position: relative;
}
ul.the_serchss li input { 
	
	margin-right: 5px;
	
}
/*
.cmsmasters_row_inner {
	padding: 0px 40px 0 0 !important;
}*/

/***********VIDEO**********/

#video {
    position: relative;
}
#video div, #video video {
    position: absolute;
    top: 0;
}

.myclass{
	width:100%;
}

.toggles_color{
	color:white;
}


#cmsmasters_row_4af4tfqxe .cmsmasters_toggle_title > a{
	color:white;
}
#cmsmasters_row_4af4tfqxe .cmsmasters_toggle_title > a:hover{
	color:#3183ee;
}

ul#toggle_hover li span > a:hover{
	color:#3183ee !important;
}


 
div#cmsmasters_row_sh5kg2opd4 {
    height: 920px;
}
 
#cmsmasters_row_sh5kg2opd4 video {
    position: absolute;
	top:0;
	left:0;
}

#text_video {
    position: relative;
    max-width: 395px;
    margin: auto;
    top: 250px;
    z-index: 9999;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.29);
    text-align: center;
}

#text_video2 {
    position: relative;
    max-width: 390px;
    margin: auto;
    top: 260px;
    z-index: 9999;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

div#form_video * {
    z-index: 99999;
}

#form_video {
    width: 800px;
    margin: auto;
    position: relative;
    top: 270px;
}


@media screen and (max-width: 1680px) {
	div#cmsmasters_row_sh5kg2opd4 {
		height: 800px;
	}
}

@media screen and (max-width: 1600px) {
	div#cmsmasters_row_sh5kg2opd4 {
		height: 760px;
	}
}

@media screen and (max-width: 1440px) {
	div#cmsmasters_row_sh5kg2opd4 {
		height: 670px;
	}
}

@media screen and (max-width: 1366px) {
	div#cmsmasters_row_sh5kg2opd4 {
		height: 640px;
	}
}

@media screen and (max-width: 1024px) {
	div#cmsmasters_row_sh5kg2opd4 {
		height: 540px;
	}
}


/*tablet*/
@media screen and (max-width: 800px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 430px;
	}

	#text_video {
	    top: 140px;
	}
	
	#text_video2 {
	    top: 150px;
	}
	
	#form_video {
		top: 160px;		
	}
}


@media screen and (max-width: 768px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 425px;
	}

	#text_video {
	    top: 140px;
	}
	
	#text_video2 {
	    top: 150px;
	}
	
	#form_video {
		top: 160px;
	}
}

@media screen and (max-width: 600px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 330px;
	}

	#text_video {
	    top: 40px;
	}
	
	#text_video2 {
	    top: 50px;
	}
	
	#form_video {
		top: 60px;
		left: -100px;
	}
}

/*mobile*/

@media screen and (max-width: 414px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 230px;
	}

	#text_video {
	    top: 40px;
		
	}
	
	#text_video2 {
	    top: 50px;
	}
	
	#form_video {
		top: 45px;
		width:80%;
		left:0px;
	}
}

@media screen and (max-width: 384px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 200px;
	}

	#text_video {
	    top: 10px;
		font-size:15px;		
	}
	
	#text_video2 {
	    top: 10px;
	}
	
	#form_video {
		top: 0px;
		width:80%;
		left:0px;
	}
}


@media screen and (max-width: 375px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 200px;
	}

	#text_video {
	    top: 10px;
		font-size:15px;
	}
	
	#text_video2 {
	    top: 0px;
	}
	
	#form_video {
		top: -10px;
		width:80%;
		left:0px;
	}
}


@media screen and (max-width: 360px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 200px;
	}

	#text_video {
	    top: 10px;
		
	}
	
	#text_video2 {
	    top: 10px;
	}
	
	#form_video {
		top: 0px;
		width:80%;
		left:0px;
	}
}

@media screen and (max-width: 320px) {
	div#cmsmasters_row_sh5kg2opd4 {
    height: 195px;
	}

	#text_video {
	    top: 10px;
		font-size:15px;
	}
	
	#text_video2 {
	    top: 0px;
	}
	
	#form_video {
		top: -10px;
		width:80%;
		left:0px;
	}
}

/*
@media (max-width:1680px) { 
	div#cmsmasters_row_sh5kg2opd4 {
	    height: 755px;
	}
		
}

@media screen and (max-width: 1024px){
	
	div#cmsmasters_row_sh5kg2opd4 {
	    height: 512px;
	}
	
	#text_video {
	    top: 200px;
	}
	
	#text_video2 {
	    top: 210px;
	}
	
	#form_video {
		top: 220px;
	}
	
}

@media (max-width:481px) { 
	div#cmsmasters_row_sh5kg2opd4 {
	height: 240px;
	}
	
	#text_video {
	    top: 20px;
	}
	
	#text_video2 {
	    top: 21px;
	}
	
	#form_video {
		top: 22px;
		width:245px;
	}			
}

@media (max-width:320px) { 
		div#cmsmasters_row_sh5kg2opd4 {
	height: 140px;
	}
	
	#text_video {
	    top: 15px;
		font-size:20px
	}
	
	#text_video2 {
	    top: 16px;
		font-size:15px
	}
	
	#form_video {
		top: -4px;
		width:240px;
	}		
}
*/
.fs {
    padding-bottom: 100% !important;
}

/******accordion*******/

button.accordion {
    background-color: #044a85;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position:relative;
    border:1px solid #044a85;
    border-radius:5px;
    margin-bottom:2px;
}

.fa.fa-angle-down{
   position:absolute;
   right:15px;
   font-size: 35px;
}

.accordion.active >i.fa.fa-angle-down{
      transform: rotate(90deg);
} 

button.accordion.active, button.accordion:hover {
    background-color: white;
    color:#044a85;
}


div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

button.accordion2 {
    background-color: #044a85;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    position:relative;
    border:1px solid #044a85;
    border-radius:5px;
    margin-bottom:2px;
}

.fa.fa-angle-down{
   position:absolute;
   right:15px;
   font-size: 35px;
}

.accordion2.active >i.fa.fa-angle-down{
      transform: rotate(90deg);
} 

button.accordion2.active, button.accordion:hover {
    background-color: white;
    color:#044a85;
}


div.panel2 {
    padding: 0 18px;
    display: none;
    background-color: white;
}

.tourism-section{
	margin:auto !important;
}
.img-height{
	height:auto !important;
}

/****Numbers Section***/
#cmsmasters_row_006d4535b5 .cmsmasters_row_inner{
	width:100%;
}

.cmsmasters_counters .cmsmasters_counter_wrap.one_fifth{
	width:16%;
}

/***color for numbers section**/
.heading-color .cmsmasters_heading{
	color:white !important;
}

@media (min-width:1024px) {
	
	.post-password-form, .header_top_inner, .header_mid_inner, .header_bot_inner, .content_wrap, .headline_inner, .bottom_outer, .footer_inner, .cmsmasters_row_inner {
		width:1024px ;
		}

}
/*
table:not([class]):not([id]) th, 
table:not([class]):not([id]) td {
	border-width:0px ;
}*/

.cmsmasters_table tbody tr:hover {
    background-color: #ffff99;
}

/*tbody tr:nth-child(odd){
  background-color: #4C8BF5;
  color: #fff;
}*/
/*
table tbody tr:hover {
    background-color: red;
}*/

#footer{
	position:fixed;
	bottom:0;
}

.page-id-70656 #main{
	margin-bottom:45px;
}

.one_sixth {
    margin: 10px 1.4% !important;
}

.map_style{
	width: 100% !important;
    /*margin-top: 15px;*/
    margin-bottom: 71px;
    padding: 0;
}

#formid-request{
	border: solid 1px;
    margin-bottom: 50px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35)!important;
    border-radius: 5px;
    margin: 0 auto 80px;
    width: 50%;
}

#form-meletes{
	/*border: solid 1px;
    margin-bottom: 50px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35)!important;
    border-radius: 5px;*/
    margin: 0 auto 80px;
   /* width: 50%;*/
}

#outer-form-meletes{
	border: solid 1px;
    margin-bottom: 50px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35)!important;
    border-radius: 5px;
    /* margin: 0 auto 80px; */
    /* width: 50%; */
    margin-top: 50px;
}

.navigation1{
	margin: 80px 20px;
}

.img-meletes{
	margin-top: 50px;
}

.img-meletes-center{
	margin-top: 100px;
}

.title-meletes{
	padding-top:30px;
}
#cmsmasters_row_d5zghlne3s{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#main{
	margin-bottom:58px;
}

.cmsmasters_toggles.toggles_mode_accordion span a:hover{
	color:#d1d1d1 !important;
}

#cmsmasters_row_4af4tfqxe .cmsmasters_toggle_title > a:hover{
	color:#d1d1d1 !important;
}

.accordion-file{
	/*text-align: center;*/
    padding: 0 !important;
	display:inline-block;
}

.fa-accordion-file{
	font-size: 30px;
	color: #044a85;
	vertical-align: middle;
	margin-right: 5px;
}

#ul_accordion li::before{
    content:none !important;
}

.front_thumbnail_size{
	max-width: 14%;
    height: 150px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
.back-img{
	background-image: url(http://beta.platanias.gr/wp-content/uploads/2017/07/sketh.png);
   /* min-height: 150px;
	max-width: 250px;*/
	height: 200px;
    width: 240px;
	background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
	display: table;
    margin: 0 auto;
}

.back-img > h1{
	/*font-weight: 100 !important;*/
	display: table-cell !important;
	vertical-align:middle;
	padding: 10px;
}

.table-header{
	background-color: #044a85;
	text-align: center !important;
	color: white;
	font-size:10pt;
}

.cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner * {
	font-size:16px !important;
	color:white !important;
	text-shadow: 1px 0px 3px #000000 !important;
}

.cmsmasters_breadcrumbs .cmsmasters_breadcrumbs_inner a:hover {
	opacity: 0.7;
}

.cmsmasters_toggles.toggles_mode_accordion span a{
	transition: background-color 0.3s ease;		
}

.cmsmasters_toggles.toggles_mode_accordion span a:hover {
	background-color: rgba(4, 74, 133, 0.7)!important;
	padding: 5px 13px;
	border-radius: 24px;
	color: white!important;
	font-weight: 600;
}
#cmsmasters_row_4af4tfqxe .cmsmasters_toggle_title > a:hover {
    color: #ffffff!important;  
    background-color: rgba(4, 74, 133, 0.7)!important;   
    border-radius: 24px;
    color: white!important;   
}

@media (min-width:1025px) {
	.secthelw{
		margin-top: 80px;
		/*
		background-image: url('http://beta.platanias.gr/wp-content/uploads/2017/10/title2.png');
		min-width: 100%;
		height: 70px;
		padding:7px;
		background-size: contain !important;
		background-repeat: no-repeat !important;
		background-position: center !important;
		transform: translate(-30px, 20px);
		*/
}
}

#pic-one{
	margin-left:145px;
}


.meet-sec > span > a:hover {
	color:white !important;
}

.meet-sec > a:hover {
	color:white !important;
}

/*
.more-side{
	margin-top:25px
}
*/

/*ACF Form fields style*/

.acf-field.acf-field-text.acf-field-596885ae8bed9, .acf-field.acf-field-text.acf-field-596885bc8beda, .acf-field.acf-field-text.acf-field-596885518bed8, .acf-field.acf-field-text.acf-field-596886c789b2e, .acf-field.acf-field-select.acf-field-596886ed89b2f, .acf-field.acf-field-select.acf-field-596885f78bedd, .acf-field.acf-field-text.acf-field-596886118bede, .acf-field.acf-field-text.acf-field-596885e78bedc, .acf-field.acf-field-text.acf-field-5968864889b2a, .acf-field.acf-field-text.acf-field-5968866389b2b {
	display: inline-block;
    min-width: 48%;
}

.gm-style-iw div:first-child{ overflow: hidden !important;}
/*
.nea_epikaira{
	position: relative !important;
    float: left !important;
    width:  200px !important;
    height: 100px !important;
    background-position: 50% 50% !important;
    background-repeat:   no-repeat !important;
    background-size:     cover !important;
}*/

.legend-icons{
	
	margin-left:20px;
}

.cmsmasters_prev_arrow, .cmsmasters_next_arrow{
	color:white !important;
	background-color:#044a85;
}

.cmsmasters_slider_project_inner{
	height:270px;

}

.cmsmasters_slider_post_read_more{
	position: absolute;
	padding: 10px;
    margin-left: -60px;
	bottom:0 !important;
}
/*
.post_nav > span a {
    color: transparent !important;
}
*/

/*
body:not(.loaded){
  display:none;
}*/

video {
    background-color: white;
}

.fa-style{
	color:#044a85;
	margin-right:5px;
}

/*CSS for PRINT*/
@media print {
	
	a[href]:after {
		content: none !important;	
	}
	
	body { 
		background:white; 
		color:black; 
		margin:0; 
		width:auto; 
		height:auto;  
		padding: 0;		
	}
	
	img { 
		width:100%; 	
	}
	
	#content { 
		display:block; 
	}
	
	.container {
        display: inline;
    }
	
}

.cmsmasters_archive_type {
    padding: 25px 0 0;
}